# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 6fa74f6d430cbeb37535a3744f3bf95d2c8c932e88cc8873c6ac2f0a32e1dc2418ae7aee7258f8c172f26666dc78544a3466df3439b081de3d3184f67e1e5eda

test:
  secret_key_base: 35d828196e5f18b4d6e9e1d3e2b4c4131b2bc9758ac7839fd8b5cf91228580b2d2cb96ebd0a222c9b94b5392855002a68050fdb2fcd2cfcec94e5c752672c196

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
